@page
@model IndexModel
@{
    ViewData["Title"] = "Home pae";
}
<!--..........-->
<div class="text-center"> 
    <h1 class="display-4">this is something we gonna do and we just suck  at it but hey we are trying our best</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
