@page
@model IndexModel
@{
    ViewData["Title"] = "Home Page";
}


<div class="text-center"> 
    <h1 class="display-4">Put Something that represents our website</h1>
    <p>Here Some Random Descriptions</p>
</div>
