@page
@model IndexModel
@{
    ViewData["Title"] = "Home Page";
}


<div class="text-center"> 
    <h1 class="display-4">Put Something that represents our website</h1>
    <p>Here Some Random Descriptions</p>
</div>


<div class="alert alert-primary" style="background-color:rgba(0, 255, 255,0.2)" role="alert">
    <p class="mb-0 text-dark">Advice : @Model.advice</p>
</div>