@page
@model Doctors_Around.Pages.User.LoginModel
@{
    ViewData["Title"] = "Login";
}

<section class="container-fluid">
        <section class="row justify-content-center">
            <section class="col-12 col-sm-6 col-md-3">
                <form class="form-container-custom">
                    <div class="form-group">
                        <label for="exampleInputEmail1">Email address</label>
                        <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">                    </div>
                    <div class="form-group">
                        <label for="exampleInputPassword1">Password</label>
                        <input type="password" class="form-control" id="exampleInputPassword1">
                    </div>
                    <div class="form-group form-check">
                        <input type="checkbox" class="form-check-input" id="exampleCheck1">
                        <label class="form-check-label" for="exampleCheck1">Stay logged in</label>
                    </div>
                    <button type="submit" class="btn btn-primary btn-block" >Log in</button>
                </form>
            </section>
        </section> 
</section>    
    
