@page
@model Doctors_Around.Pages.User.LoginModel
@{
    ViewData["Title"] = "Login";
}
    <section class="container-fluid">
        <section class="row justify-content-center">
            <section class="col-12 col-sm-6 col-md-5">
                <form class="form-container-custom" style="width:400px;">
                    <div class="form-group col-md-12">
                        <label for="exampleInputEmail1">Email address</label>
                        <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
                    </div>
                    <div class="form-group col-md-12">
                        <label for="exampleInputPassword1">Password</label>
                        <input type="password" class="form-control" id="exampleInputPassword1">
                    </div>
                    <div class="form-group form-check col-md-12">
                        <input type="checkbox" class="form-check-input" id="exampleCheck1">
                        <label class="form-check-label" for="exampleCheck1">Stay logged in</label>
                    </div>
                    <button type="submit" class="btn btn-primary btn-block" >Log in</button>
                    <button type="button" class="btn btn-link" data-toggle="modal" data-target="#staticBackdrop">
                        Sign Up
                    </button>
                </form>
            </section>
        </section> 
</section>    

<div class="modal fade" id="staticBackdrop" data-backdrop="static" tabindex="-1" role="dialog" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog text-left" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="staticBackdropLabel">Sign Up</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                Choose The Sign Up Type
            </div>
            <div class="modal-footer justify-content-start">
                <a class="btn border" asp-page="/User/RegisterDoc">Doctor / Clinic / Hospital</a>
                <a class="btn border" asp-page="/User/RegisterUser">Patient</a>
            </div>
        </div>
    </div>
</div>
    
