@page
@model Doctors_Around.Pages.User.RegisterUserModel
@{
    ViewData["Title"] = "RegisterUser";
}
<h1>Registration Patient </h1>

<form>
    <div class="form-row">
        <div class="form-group col-md-6">
            <label for="inputEmail4">Email</label>
            <input type="email" class="form-control" id="inputEmail4" placeholder="probably_your_name@something.probably_com">
        </div>
        <div class="form-group col-md-6">
            <label for="inputPassword4">Password</label>
            <input type="password" class="form-control" id="inputPassword4" placeholder="Shuu it's a secret">
        </div>
    </div>
    <div class="form-group">
        <label for="inputAddress">Full Name</label>
        <input type="text" class="form-control" id="inputAddress">
    </div>
    <div class="form-group">
        <label for="inputAddress2">Address</label>
        <input type="text" class="form-control" id="inputAddress2" placeholder="just ask your parents if you forgot it or just google it">
    </div>
    <div class="form-row">
        <div class="form-group col-md-6">
            <label for="inputCity">City</label>
            <input type="text" class="form-control" id="inputCity">
        </div>
        <div class="form-group col-md-4">
            <label for="inputState">State</label>
            <select id="inputState" class="form-control">
                <option selected>Get your state here!</option>
                <option> 404 states not found here look up again</option>
            </select>
        </div>
        <div class="form-group col-md-2">
            <label for="inputZip">Zip</label>
            <input type="text" class="form-control" id="inputZip" placeholder="some number">
        </div>
    </div>
    <div class="form-group">
        <div class="form-check">
            <input class="form-check-input" type="checkbox" id="gridCheck">
            <label class="form-check-label" for="gridCheck">
                Do I agree all the stuff that I haven't red (DEFENETLY!)
            </label>
        </div>
    </div>
    <button type="submit" class="btn btn-primary">Sign in</button>
</form>